@page "/create"

<h3>Create step @_selected</h3>

<MudPagination Color="Color.Primary" Count="3" @bind-Selected="@_selected" />

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<div hidden="@(_selected != 1)" ><Step1 advertisement="@advertisement" /></div>
<div hidden="@(_selected != 2)" ><Step2 advertisement="@advertisement" /></div>
<div hidden="@(_selected != 3)" ><Step3 advertisement="@advertisement" /></div>

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

@code {
    private int current { get; set; } = 1;
    private int _selected = 1;
    private AdvertisementDetailsRepresentation advertisement = new AdvertisementDetailsRepresentation
    {
        Thumbnail = new ImageRepresentation(),
        Resource = new AdvertisementDetailsDto()
    };
}
