@page "/details/{Id}"
@inject HttpClient Http
@inject IConfiguration Configuration

<h1>Details</h1>

@if (advertisement != null)
{
    <div class="container">
        <img style="width:40em" src="data:@advertisement.Thumbnail.MediaType;base64,@advertisement.Thumbnail.Resource" alt="Not found" />

        <div class="card">
            <div class="jumbotron float-right"><h1>@advertisement.Resource.Title</h1></div>
            <br /><strong>Type of estate: </strong> @advertisement.Resource.ApartmentType
            <br /><strong>Date of creating ad: </strong>@advertisement.Resource.CreateDate
            <br /><strong>Available to: </strong>@advertisement.Resource.ValidTo
            <br /><strong>User: </strong>@advertisement.Resource.UserName
            <br /><strong>Address: </strong>@advertisement.Resource.EstateAddress
            <br /><strong>Price: </strong>@advertisement.Resource.Price
            <br /><strong>Provision: </strong>@advertisement.Resource.Provision
            <br /><strong>Total cost: </strong>@advertisement.Resource.TotalCost
            <br /><strong>Description: </strong>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <br />
        </div>
    </div>
}
else
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}


@code {
    [Parameter]
    public string Id { get; set; }

    private AdvertisementDetailsRepresentation advertisement;

    protected async override Task OnInitializedAsync()
    {
        advertisement = await Http.GetFromJsonAsync<AdvertisementDetailsRepresentation>(Configuration.GetServiceUri("api", "https") + "api/advertisement/" + Id);
    }
}
