@page "/"
<MudAlert Severity="Severity.Info">Frontend is using Blazor framework and MudBlazor component library</MudAlert>


<MudCarousel Class="mud-width-full" Style="height:300px;" ShowArrows="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <div style="margin:auto"><img height="310" src="/img/2bb2ab86fa8f7f35788a59da1f79f18c.jpg"/></div>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <div style="margin:auto"><img height="300" src="/img/11.jpg"/></div>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <div style="margin:auto"><img height="300" src="/img/90500998.jpg"/></div>
        </div>
    </MudCarouselItem>
</MudCarousel>

<p>
    <ul>
        <li><strong>Catalog</strong> - you can search for advertisements of houses, flats or rooms.<br /></li>
        <li><strong>Create new</strong> - create new advertisement.<br /></li>
        <li><strong>Recommended</strong> - recommendations based on your observed advertisements and recently seen advertisements.<br /></li>
        <li><strong>Donate</strong> - make a donation.<br /></li>
    </ul>
</p>

This is Blazor version of NewPlace, there are also based on React and Angular.

<div class="container">
<div class="row">
<div class="col">
<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Primary">U</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">House for sale</MudText>
            <MudText Typo="Typo.body2">Very luxurious house</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardMedia Image="/img/2bb2ab86fa8f7f35788a59da1f79f18c.jpg" Height="250" />
    <MudCardContent>
        <MudText Typo="Typo.body2">Available since June.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>

</div>
<div class="col">

<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Secondary">N</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Cheap room for rent</MudText>
            <MudText Typo="Typo.body2">Cheap and comfortable room</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardMedia Image="/img/11.jpg" Height="250" />
    <MudCardContent>
        <MudText Typo="Typo.body2">Available for rent now.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>

</div>
<div class="col">

<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Success">T</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Flat for sale</MudText>
            <MudText Typo="Typo.body2">Great flat.</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardMedia Image="/img/90500998.jpg" Height="250" />
    <MudCardContent>
        <MudText Typo="Typo.body2">Available now.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>

</div>
</div>
</div>
