@page "/recommended"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Drawing
@inject IJSRuntime JSRuntime
@inject IMarkerFactory MarkerFactory

<h3>Recommended</h3>

<h2>Recommendations based on preferred location</h2>

<p>
	Click on map to see apartments and houses in neighbourhood.
</p>
<Map @ref="_map" MapOptions="@mapOptions"></Map>

<style>
	#mapId {
		height: 400px;
	}
</style>

<p>
Your location:<br />
Longitude: <strong>@_location?.Longitude</strong><br />
Latitude: <strong>@_location?.Latitude</strong><br />
</p>

@if (_recommendations is not null)
{
	<div class="container">
		<div class="row">
		@foreach (var r in _recommendations)
		{
			<div class="row">
			<div class="card" @onmouseover="m => OpenPopup(r.Resource.Id.Value)" @onmouseout="m => ClosePopup(r.Resource.Id.Value)" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">@r.Resource.Title</h5>
					<p class="card-text">
						<ul class="list-inline">
							<li class="list-inline-item">Valid to: @DateTime.Now.AddDays(2)</li>
							<li class="list-inline-item">User: @r.Resource.UserName</li>
							<li class="list-inline-item">Address: @r.Resource.EstateAddress</li>
							<li class="list-inline-item">Price: @r.Resource.Price</li>
							<li class="list-inline-item">Provision: @r.Resource.Provision</li>
							<li class="list-inline-item">Area: @r.Resource.EstateArea</li>
						</ul>

					</p>
					<a href="Details/@r.Resource.Id" class="btn btn-primary">Details</a>
				</div>
			</div>
			</div>
		}
		</div>
	</div>
}
@if (Loading)
{
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
}