<h3>Step1</h3>

@if (advertisement != null)
{


    <EditForm Model="@advertisement" OnValidSubmit="@SubmitValidForm">
        <FluentValidationValidator />
        <div class="alert-danger">
            <ValidationSummary />
        </div>

        <p>
            <label>Title: </label>
            <InputText class="form-control" @bind-Value="@advertisement.Resource.Title" />
        </p>

        <p>
            <label>Category: </label>
            <InputSelect class="form-control" @bind-Value="@advertisement.Resource.ApartmentType">
                <option>room</option>
                <option>flat</option>
                <option>house</option>
            </InputSelect>
        </p>

        <p>
            <label>Type of payment: </label>
            <InputSelect class="form-control" @bind-Value="@advertisement.Resource.PricingType">
                <option>for sale</option>
                <option>rent</option>
                <option>for exchange</option>
            </InputSelect>
        </p>

        <p>
            <label>Thumbnail photo: </label>
            @if (ImgBase64 != null)
            {
                <img src="@ImgBase64" />
            }
            <input type="file" class="form-control" @bind="@advertisement.Thumbnail.Resource" />
        </p>

        <button class="btn btn-info" type="submit">Save</button>

    </EditForm>

}

@code {
    [Parameter]
    public AdvertisementDetailsRepresentation advertisement { get; set; } = new AdvertisementDetailsRepresentation
    {
        Resource = new ApplicationCore.DTOs.AdvertisementDetailsDto() { }
    };

    public string ImgBase64 { get; set; }

    void SubmitValidForm()
    {
        Console.WriteLine("Form Submitted Successfully!");
    }
}
